@import "reset.css";
@import "typography.css";
@import "layout.css";
@import "theme-light.css";
@import "theme-dark.css";
@import "cookie-consent.css";

:root {
   /* Fonts */
   --font-base: "Baskerville", serif;
   --font-alt: monospace;
}

@font-face {
   font-family: "Baskerville";
   src: url("/fonts/font.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Baskerville";
   src: url("/fonts/font.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: var(--font-base);
   margin: 0;
   padding: 0;
   text-align: left;
   background-color: var(--color__background-site);
   background-size: 100% 600px;
   word-wrap: break-word;
   overflow-wrap: break-word;
   color: var(--color__text);
   font-size: 20px;
   line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 1.3em 0;
   color: rgb(var(--black));
   line-height: 1.2;
}
h1 {
   font-size: var(--font-size-header-peta);
}
h2 {
   font-size: var(--font-size-header-tera);
}
h3 {
   font-size: var(--font-size-header-giga);
}
h4 {
   font-size: var(--font-size-header-mega);
}
h5 {
   font-size: var(--font-size-header-kilo);
}
strong,
b {
   font-weight: 700;
}

/* Links */

a:link {
   color: var(--color__link);
}
a:visited {
   color: var(--color__link--visited);
}
a:hover {
   color: var(--color__link--hover);
}
a:active {
   color: var(--color__link--active);
}

p, ol, ul {
   margin-bottom: 1.3em;
}
.prose p {
   margin-bottom: 1.3em;
}
textarea {
   width: 100%;
   font-size: 16px;
}
input {
   font-size: 16px;
}
table {
   width: 100%;
}
img {
   max-width: 100%;
   height: auto;
   border-radius: 8px;
}

code {
   padding: 2px 5px;
   background-color: rgb(var(--gray-light));
   border-radius: 2px;
}
pre {
   padding: 1.5em;
   border-radius: 8px;
}
pre > code {
   all: unset;
}
blockquote {
   border-left: 4px solid var(--accent);
   padding: 0 0 0 20px;
   margin: 0px;
   font-size: 1.333em;
}
hr {
   border: none;
   border-top: 1px solid rgb(var(--gray-light));
}

/* Buttons */

button,
.button {
   font-family: var(--font-alt);
   border: none;
   padding: 0.5rem 2rem;
   color: var(--color__button);
   background-color: var(--color__button--background);
   border-radius: 6px;
   cursor: pointer;
}
button:hover {
   color: var(--color__button--hover);
   background-color: var(--color__button--background--hover);
}
button:active {
   color: var(--color__button--active);
   background-color: var(--color__button--background--active);
}

/* Books */
.pub-date {
   font-family: var(--font-alt);
   font-size: 0.75rem;
   text-transform: uppercase;
   color: #666;
   margin-block: 1.3em;
}

/* Nav Off-canvas */

.nav--offcanvas .nav-links a {
   font-size: 2rem;
}

@media (max-width: 720px) {
   body {
      font-size: 18px;
   }
}

.visually-hidden,
.sr-only {
   border: 0;
   padding: 0;
   margin: 0;
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
   /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
   clip: rect(1px 1px 1px 1px);
   /* maybe deprecated but we need to support legacy browsers */
   clip: rect(1px, 1px, 1px, 1px);
   /* modern browsers, clip-path works inwards from each corner */
   clip-path: inset(50%);
   /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
   white-space: nowrap;
}
