---
import Navigation from "./Navigation.astro";
---

<section class="section nav--offcanvas">
   <div class="container">
      <div class="nav--offcanvas">
         <Navigation location="offcanvas"/>
      </div>
   </div>
</section>

<!-- Overlay -->
<section class="section section--overlay section--overlay--nav menuToggle">
   <div class="container"></div>
</section>

<style>
   section.nav--offcanvas {
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--color__background-offcanvas-nav);
      width: 75%;
      max-width: 500px;
      height: 100vh;
      z-index: 2;
   }
   section.nav--offcanvas a {
   }
   .nav--offcanvas .link {
      display: block;
   }

   .container {

   }

   /* Overlay */
   .section--overlay--nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color__background-overlay);
      z-index: 1;
   }
   .section--overlay--nav.expanded {
      display: block;
   }
   @media screen and (min-width: 636px) {
   }
</style>
<style is:global>
   body.nav--is-open,
   html.nav--is-open {
      overflow: hidden;
   }
   .nav--offcanvas .nav-links {
      display: flex;
      flex-direction: column;
      margin: 0;
      align-items: flex-start;
   }
   .nav--offcanvas .nav-links .link {
      display: block;
   }
   .nav--offcanvas .nav-links .link a {
      font-size: 2.5rem;
      line-height: 1.5;
   }
   @media screen and (min-width: 636px) {
   }
</style>
